#mynavbar {
    background-color: rgba(0, 0, 0, 0.85);
}

.footer {
    background-color: rgba(0, 0, 0, 0.85);
}

body {
    background-color: white;
}

.card {
    background-color: rgba(0, 0, 0, 0.85);
}

p,i {
    color: white;
}

h1,h2,h3 {
    color: white;
}



.col {
    text-align: center;
}