
.video-card {
    background-color: black;
    width: 50vh; 
    height: 30vh; 
    margin: 1%; 
}

.landing {
    background-image: url("/resources/img/background.jpg");
    background-size: cover;
    background-position-x: center;
}

.song-card {
    width: 33vh;
    margin: 1%; 
    background-color: white;
    border: none;
}

.youtube-iframe {
    width: 100%; 
    height: 100%;
    padding: 2%;
}

.col {
    text-align: center;
}

.banner-headline {
    font-size: 3.34rem;
    line-height: 2rem;
}

.banner {
    font-size: 5rem;
    line-height: 4rem;
}