<%- include('../partials/header'); %>
<body>
    <div id="pageHeader" class="container text-center">
        <h1 style="margin: 1%;">Interactive Media</h1>
    </div>
    <div class="container text-center">
        <div class="jumbotron">
            <h3>Space Game (2021)</h3>
            <p>
                Space Commander will be a first-person shooter, real-time strategy hybrid set in a three-dimensional battlefield.
                Immerse yourself in the role of fleet commander as you watch the battle and enact your strategy from your capital ship.
                If your defenses yield to the relentless enemy, leave the safety of your bridge to fend them off.
                When victory is in your grasp, board the enemy capital ship to personally end your rival's exploits.
            </p>
            Follow development on <a href="https://github.com/dreamchef/spacegame">GitHub</a>!
        </div>
        <div class="jumbotron">
            <h3>Escape Game (2020)</h3>
            <p>
                Escape a creepy house while being hunted by an enemy.  Four lock combations are needed to unlock the front door and escape.  
                Combinations are hidden in objects on each floor, and the hunter may detect you while you're snooping around.
            </p>
            Follow development on <a href="https://github.com/dreamchef/escapegame">GitHub</a>!
        </div>
    </div>

    <%- include('../partials/footer'); %>